<form action="/dashboard/addstation" method="POST">
  <div class="field">
    <label class="label">Station Title</label>
    <input class="input" type="text" placeholder="Enter station title" name="title">
  </div>
  <label class="label">Latitude</label>
    <input class="input" type="number" placeholder="00.00" name="latitude">
  <label class="label">Longitude</label>
    <input class="input" type="number" placeholder="00.00" name="longitude">
  </div>

  <button class="button is-link">Add Station</button>
</form>