{{> menu active="about"}}

<section class="box is-3 has-text-centered">
  <h3 class="title">
   WeatherTop App
  </h3>
  <div class="section">
    <p>
      Monitor latest weather station readings<br>
                WeatherTop Inc. produce a modular weather station called the WeatherTop 1000.<br> This
                low-cost device takes a set of meteorological readings and displays these on a simple LCD
      display.</p>
           
<img src="https://cdn.glitch.global/919a84ab-9d58-4b9a-ba1c-ea5cc14cfb94/weather-news.png?v=1691854214034"
         alt="Weather News"
         width="300"
         height="200"
     >
  </div>
</section>